.cartWrapper {
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100000;
  /* will-change: transform; */
  transition: all 1s ease-in-out;
}
.cartContainer {
  height: 100vh;
  width: 600px;
  background-color: white;
  float: right;
  padding: 40px 10px;
  position: relative;
  z-index: 100000;
}

.cartHeading {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  gap: 2px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
}

.heading {
  margin-left: 10px;
}
.cartNumItems {
  margin-left: 10px;
  color: #5734e2;
}
.emptyCart {
  margin: 40px;
  text-align: center;
}
.emptyCart h3 {
  font-weight: 600;
  font-size: 20px;
}
.cartBottom {
  position: absolute;
  bottom: 12px;
  right: 5px;
  width: 100%;
  padding: 30px 65px;
}

.cartBottom button {
  width: 100% !important;
  max-width: none !important;
}

.total {
  display: flex;
  justify-content: space-between;
}
.total h3 {
  font-size: 22px;
}

@media screen and (max-width: 800px) {
  .cartContainer {
    width: 415px;
    padding: 4px;
  }
  .cartHeading {
    margin-top: 35px;
  }
}

@media screen and (max-width: 480px) {
  .cartContainer {
    width: 90%;
  }
}
