.container {
  padding: 100px 40px;
  background-color: #5734e2;
  border-radius: 15px;
  position: relative;
  height: 500px;
  line-height: 1;
  color: white;
  width: 100%;
  margin-top: 120px;
}

.description {
  display: flex;
  justify-content: space-between;
}
.description button {
  border-radius: 15px;
  padding: 10px 16px;
  background-color: #eaed7f;
  color: #5734e2;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.left h3 {
  font-weight: 900;
  font-size: 80px;
  margin-left: 25px;
}
.left p {
  margin: 18px;
}
.image {
  position: absolute;
  transform: translate(-50%, -50%);
  /* top: -35%;
  left: 8%; */
  top: 50%;
  left: 50%;
}
.right {
  line-height: 1.4;
}
.right h3 {
  font-weight: 800;
  font-size: 60px;
}
.right p {
  font-size: 18px;
}

@media screen and (max-width: 800px) {
  .container {
    height: auto;
    margin-top: 80px;
  }
  .image {
    display: none;
  }
  .left h3 {
    font-weight: 900;
    font-size: 50px;
    margin-left: 5px;
  }
  .left p {
    margin: 18px;
  }
  .right h3 {
    font-size: 45px;
  }
  .right p {
    font-size: 18px;
  }

  .description {
    flex-wrap: wrap;
    gap: 20px;
  }
}
